/* うちの子カルテ */

body{
    background-color: white;
    font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    height: 100vh;
    margin: 0;
}

.main{
    height: 80%;
}

form{
    display: flex;
    flex-direction: column;
    color: #696969;
    margin: 5% 10%;
}

h1{
    padding-top: 10%;
    text-align: center;
    color: #808080;
}

.confirm-p{
    margin: 5% 15%;
}

.p-wrap{
    text-align: center;
}

p{
    color: #696969;
    display: inline-block;
    font-size: 20px;
    text-align: left;
    line-height: 70px;
}

.complet-p{
    text-align: center;
    margin-top: 4%;
}

.err{
    color: red;
    margin-top: 2%;
    font-size: 15px;
}

label{
    margin-top: 5%;
}

.conf-wrap{
    display: flex;
}

.conf{
    margin-top: 5%;
}

.input{
    margin-top: 2%;
    height: 40px;
    border: solid 1px #696969;
    border-radius: 6px;
    font-size: 18px;
}

select{
    margin-top: 2%;
    height: 40px;
    border: solid 1px #696969;
    border-radius: 6px;
    font-size: 18px;
}

textarea{
    font-size: 15px;
}

.btns{
    text-align: center;
    margin-bottom: 10%;
    width: 100%;
}

button{
    margin-top: 3%;
    width: 30%;
    height: 50px;
    color: #696969;
    font-size: 20px;
}

.button{
    margin-top: 10%;
    height: 50px;
    background-color: rgb(141, 253, 232);
    border: solid 1px rgb(141, 253, 232);
    border-radius: 10px;
    color: #696969;
    font-size: 20px;
}

.back{
    background-color: white;
    border: solid 3px rgb(141, 253, 232);
    border-radius: 10px;
}

.send{
    background-color: rgb(141, 253, 232);
    border: solid 1px rgb(141, 253, 232);
    border-radius: 10px;
}
